@using CoreBlog.Controllers
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
   {
     <tr>
        <th>@item.Id</th>
        <td>@item.Name</td>
        <td><a href="/Employee/DeleteEmployee/@item.Id" class="btn btn-outline-Danger">Sil</a> </td>
        <td><a href="/Employee/EditEmployee/@item.Id" class="btn btn-outline-Success">Düzenle</a> </td>
    </tr>  

   }
    
</table>
<a href="~/Employee/EmployeeAdd" class="btn btn-info">Yeni Çalışan Girişi</a>
