

<div class="tech-btm">
                            <h4>Haber Bültenimize Kaydolun</h4>
                            <p>Pellentesque dui, non felis. Maecenas male </p>
                            <form action="#" method="post">
                                <input type="email" placeholder="Email" required="">
                                <input type="submit" value="Kaydol">
                            </form>

                        </div>