@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-primary">Yazar Getir</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Yazar Ekle</button>
<br />
<br />
<div id="writerlist">
</div>
<br />
<div id="writerget">
</div>
<br />
<div>
    <input type="text" id="writerid" placeholder="Yazar id Giriniz" class="form-control" />

</div>
<br />
<div>
    <input type="text" class="form-control" id="txtwriterid" placeholder="Yazar Id" />
    <br />
    <input type="text" class="form-control" id="txtwritername" placeholder="Yazar Adı" />
</div>

@section scripts{

    <script>
        $("#btngetlist").click(function() {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList",
                success: function(func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "<h1>Yazar Listesi</h1><table class=table table-bordered> <tr> <th>Yazar ID</th> <th>Yazar Adı </th> </tr>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.id}</td> <td>${value.name}</td></tr>`
                    });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);

                }
            });
        });

        $("#btngetbyid").click(x => {
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/GetWriterById",
                data: { writerid: id },
                success: function(func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let getvalue = ` <h1>Aranan Yazar</h1><table class=table table-bordered> <tr> <th>Yazar Id</th> <th>Yazar Adı</th></tr> <tr> <td>${w.id}</td> <td>${w.name}</td></tr></table>`;
                    $("#writerget").html(getvalue)
                }
            });

        });

        $("#btnaddwriter").click(function() {
            let writer = {
                id:$("#txtwriterid").val(),
                name:$("#txtwritername").val()
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter",
                data: writer,
                success: function(func) {
                    let result = jQuery.parseJSON(func);
                    alert("Yazar ekleme başarılı");
                }
            });

        });
    </script>
}
